<p-menubar [model]="items" class="fixed-top">
  <ng-template #start> </ng-template>
  <ng-template #item let-item let-root="root">
    <ng-container *ngIf="item.route; else urlRef">
      <a [routerLink]="item.route" class="p-menubar-item-link">
        <span *ngIf="item.icon" [class]="item.icon"></span>
        <span class="ml-2">{{ item.label }}</span>
      </a>
    </ng-container>
    <ng-template #urlRef>
      <a
        *ngIf="item.url; else noLink"
        [href]="item.url"
        class="p-menubar-item-link"
      >
        <span *ngIf="item.icon" [class]="item.icon"></span>
        <span class="ml-2">{{ item.label }}</span>
      </a>
    </ng-template>
    <ng-template #noLink>
      <div class="p-menubar-item-link">
        <span *ngIf="item.icon" [class]="item.icon"></span>
        <span class="ml-2">{{ item.label }}</span>
      </div>
    </ng-template>
  </ng-template>
  <ng-template #end>
    <div class="flex flex-row-center gap-1">
      <p-menu #menu [model]="profileMenuItems" [popup]="true">
        <ng-template #submenuheader let-item>
          <span class="text-primary font-bold">{{ item.label }}</span>
        </ng-template>
        <ng-template #item let-item>
          <a pRipple class="flex items-center p-menu-item-link">
            <span [class]="item.icon"></span>
            <span class="ml-2">{{ item.label }}</span>
            <span
              *ngIf="item.shortcut"
              class="ml-auto border border-surface rounded bg-emphasis text-muted-color text-xs p-1"
              >{{ item.shortcut }}</span
            >
          </a>
        </ng-template>
      </p-menu>
      <p-button
        (click)="menu.toggle($event)"
        size="small"
        [outlined]="true"
        severity="secondary"
        [pTooltip]="userLoginState().displayName"
      >
        <p-avatar [image]="userLoginState().profilePicture" shape="circle" />
      </p-button>
    </div>
  </ng-template>
</p-menubar>
