<p-menubar [model]="items" class="fixed-top">
  <ng-template #start> </ng-template>
  <ng-template #item let-item let-root="root">
    <ng-container *ngIf="item.route; else urlRef">
      <a [routerLink]="item.route" class="p-menubar-item-link">
        <span *ngIf="item.icon" [class]="item.icon"></span>
        <span class="ml-2">{{ item.label }}</span>
      </a>
    </ng-container>
    <ng-template #urlRef>
      <a
        *ngIf="item.url; else noLink"
        [href]="item.url"
        class="p-menubar-item-link"
      >
        <span *ngIf="item.icon" [class]="item.icon"></span>
        <span class="ml-2">{{ item.label }}</span>
      </a>
    </ng-template>
    <ng-template #noLink>
      <div class="p-menubar-item-link">
        <span *ngIf="item.icon" [class]="item.icon"></span>
        <span class="ml-2">{{ item.label }}</span>
      </div>
    </ng-template>
  </ng-template>
  <ng-template #end>
    <ng-container *ngIf="isLoggedIn().isAuthenticated; else loginButtons">
      <div class="flex flex-row gap-1">
        <p-button
          severity="secondary"
          size="small"
          (click)="navigateMainDashboard()"
        >
          <label translate="button.goto-app"></label>
        </p-button>
        <p-button
          severity="secondary"
          size="small"
          (click)="openIdConnectLogout()"
        >
          <label translate="button.logout"></label>
        </p-button>
      </div>
    </ng-container>
    <ng-template #loginButtons>
      <div class="flex flex-row gap-1">
        <p-button severity="secondary" size="small"
          ><label translate="button.register"></label
        ></p-button>
        <p-button size="small" (click)="openIdConnectLogin()"
          ><label translate="button.login"></label
        ></p-button>
      </div>
    </ng-template>
  </ng-template>
</p-menubar>
